<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:spacer {"height":"120px"} -->
<div style="height:120px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"layout":{"inherit":true}} -->
<div class="wp-block-group"><!-- wp:paragraph {"align":"center","style":{"typography":{"lineHeight":"1.3"}},"fontSize":"x-large"} -->
<p class="has-text-align-center has-x-large-font-size" style="line-height:1.3">The page you're looking for isn't found. <br>Maybe you would like to go back to the <a href="http://paultruongdev.local/" data-type="page" data-id="9">homepage</a> or <a href="http://paultruongdev.local/blog/" data-type="page" data-id="80">blog</a>?</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"120px"} -->
<div style="height:120px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:template-part {"slug":"footer"} /-->